@use '../helpers' as *;

.badge {
  display: inline-flex;
  padding: fluid(4, 2) fluid(14, 10);
  font-size: rem(16);
  color: #FFFFFF;
  background:
          linear-gradient(var(--color-dark-10), var(--color-dark-10)) padding-box,
     var(--gradient)   border-box;

  border: 1px solid transparent;
  border-radius: rem(6);

  @include laptop {
    font-size: rem(14);
    border-radius: rem(4);
  }
}